.container.mt-5
  #loading-spinner(style="display: none; text-align: center;")
    p.loading-message Loading event listings, please wait...
  #event-container
script.
  async function fetchEvents() {
    const loadingSpinner = document.getElementById('loading-spinner');
    loadingSpinner.style.display = 'block'; // Show the loader

    try {
      const response = await fetch('/.netlify/functions/getEventsListings');
      const events = await response.json();
      loadingSpinner.style.display = 'none'; // Hide the loader after fetching

      if (!Array.isArray(events)) {
        throw new Error('Unexpected response format: events is not an array');
      }

      const container = document.getElementById('event-container');

      // Function to display events
      function displayEvents(eventList) {
        container.innerHTML = '';

        if (eventList.length === 0) {
          const noEventsMessage = document.createElement('p');
          noEventsMessage.textContent = 'No events available at the moment.';
          container.appendChild(noEventsMessage);
          return;
        }

        eventList.forEach(event => {
          const eventCard = document.createElement('div');
          eventCard.classList.add('event-card', 'border', 'p-4', 'mb-4');

          let eventContent = '';

          if (event.Date && !isNaN(new Date(event.Date))) {
            eventContent += `<h3 class="event-date text-primary">${new Date(event.Date).toLocaleDateString()}</h3>`;
          }

          if (event.Message) {
            const formattedMessage = event.Message.replace(/\n/g, '<br>');
            eventContent += `<p class="event-message">${formattedMessage}</p>`;
          }

          if (event['RSVP URL'] && event['RSVP URL'] !== 'Not provided') {
            eventContent += `<p><strong>RSVP:</strong> <a href="${event['RSVP URL']}" target="_blank">${event['RSVP URL']}</a></p>`;
          }

          if (event['Message ID']) {
            const messageId = event['Message ID'].replace('.', '');
            const slackWorkspaceDomain = 'startupberlin';
            const channelId = 'C09Q0SFCH';
            const slackLink = `https://${slackWorkspaceDomain}.slack.com/archives/${channelId}/p${messageId}`;
            eventContent += `<p><strong>View Original:</strong> <a href="${slackLink}" target="_blank">Slack Message</a></p>`;
          }

          eventCard.innerHTML = eventContent;
          container.appendChild(eventCard);
        });
      }

      // Display initial events
      displayEvents(events);

    } catch (error) {
      console.error('Error fetching event data:', error);
      const errorMessage = document.createElement('p');
      errorMessage.textContent = 'Error loading event listings. Please try again later.';
      document.getElementById('event-container').appendChild(errorMessage);
    }
  }

  fetchEvents();