extends ../partials/layout
block head
  - title = 'events'
  - description = 'Find startup events in Berlin'
  - keywords = 'Startup events in Berlin'
  - metaImageUrlHttps = 'speakers-list.jpg'

block body
  //- Events Content
  include jumbotron
  //- Events Content
  include events-listings
