main
  .jumbotron.jumbotron-bulletin.pt-6.pt-md-10
    .container.text-center.text-white
      .row
        .col
          h1.display-5.mb-5 Startup Berlin #Events
          h2.lead.mb-5 List of startup events in Berlin, posted on our #events channel on Slack.
          p * This is an experiemntal feature. Still in development.
      .row
        .p For assistance message 
          a(href="https://slack.com/app_redirect?channel=U09Q0CPMZ" target="_blank" class="text-white")
            strong @idmtr on Slack.