main
  .jumbotron.jumbotron-bulletin.pt-6.pt-md-10
    .container.text-center.text-white
      .row
        .col
          h1.display-5.mb-5 Female and Nonbinary Speakers List
          iframe.mb-10(src="https://docs.google.com/spreadsheets/d/e/2PACX-1vTSKlYgxKlPdsvnVoiTEtgQiniGYY3mFixoSWOZiZTxbcsiwlr2kEt06TkHo5Vxp-wD14AD4v_ko0CW/pubhtml" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" style='min-height:80rem;')
