footer.container-fluid.container-footer
  .container
    .row
      .col
        .mb-5
          include sb-logo-white
    .row.justify-content-between
      .col-md-5
        h4 About
        p Startup Berlin Group is a free chat for people interested in the Berlin startup scene. We curate a monthly members generated bulletin, a startup directory, organize events and generaly have good time while fosterting the startup community in the city
      .col-md-3
        h4 Links
        ul.list-unstyled
          li: a(href='https://directory.startupberlin.co/') Startup Directory
          li: a(href='/bulletin') Bulletin Submission
          li: a(href='https://directory.startupberlin.co/startup-events-berlin/') Events
          //- li: a(href='https://directory.startupberlin.co/irc/') IRC
          li: a(href='https://directory.startupberlin.co/about/') About
          li: a(href='https://directory.startupberlin.co/code-of-conduct/') Code of Conduct
      .col-md-3
        h4 Social
        ul.list-unstyled.fa-ul
          li: a(href='https://startupberlin.slack.com/' target='_blank')
            span.fa-li
              i.fab.fa-slack.fa-lg
            |
            | Slack
          li: a(href='https://twitter.com/StartupSlack' target='_blank')
            span.fa-li
              i.fab.fa-twitter.fa-lg
            |
            | Twitter
          li: a(href='https://www.facebook.com/StartupBerlinGroup/' target='_blank')
            span.fa-li
              i.fab.fa-facebook.fa-lg
            |
            | Facebook
          li: a(href='https://www.linkedin.com/groups/4539751/' target='_blank')
            span.fa-li
              i.fab.fa-linkedin.fa-lg
            |
            | Linkedin
          li: a(href='https://medium.com/startup-berlin-stories' target='_blank')
            span.fa-li
              i.fab.fa-medium.fa-lg
            |
            | Medium
    .row.mt-5
          .col-12.text-center
            small
              |
              a(href='https://www.berlin.de/' target='_blank')
                img(src='../assets/img/b_sen.png' style='width:17rem' data-toggle='tooltip' data-html="true" data-placement='top' title='<small style="line-height:1.2rem;display:block">Berlin Senate</small>')
              |
              |
              |
              a(href='https://www.berlin.de/' target='_blank')
                img(src='../assets/img/b_partner.png' style='width:17rem' data-toggle='tooltip' data-html="true" data-placement='top' title='<small style="line-height:1.2rem;display:block">Berlin Partner</small>')
              |
              a(href='https://www.berlin.de/' target='_blank')
    .row.mt-5
          .col-12.text-center
            small
              |
              a(href='https://directory.startupberlin.co/imprint/' target='_blank') Imprint
              | &nbsp;|&nbsp;
              a(href='https://directory.startupberlin.co/privacypolicy/' target='_blank') Privacy Policy
    .row.mt-5
      .col-12.text-center
        small
          | Made with 
          |
          img(src='../assets/img/made-with-logos.png' style='width:7rem' data-toggle='tooltip' data-html="true" data-placement='top' title='<small style="line-height:1.2rem;display:block">Webpack, Bootstrap, PugJs, Sass-Lang</small>')
          |
          | by 
          a(href='https://twitter.com/keno_reloaded' target='_blank') @keno_reloaded