head
  block head
  title= (title ? 'Startup Berlin - ' + title : 'Startup Berlin - Slack chat, startup directory and a monthly bulletin.')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="theme-color" content="#4871e2")
  meta(name="description" content=description || 'Talk to the 9200+ startup people from the Berlin startup scene. Join conversations on #tech, #blockchain and #musictech. Find and post startup jobs.')
  meta(name="keywords" content=keywords || 'startup, startup slack, slack group, slack chat, startup berlin, berlin startup, startup slack group, startup berlin slack group, startup scene, startup directory, startup berlin group, startup community')
  meta(name='author' content='Eugenio Ciccale')
  meta(name='robots' content='index, follow')
    
  link(rel='icon' href='favicon.ico')
  link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
  link(rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png")
  link(rel="icon" type="image/png" sizes="32x32" href="favicon-96x96.png")
  
  link(rel='apple-touch-icon' sizes='180x180' href='apple-icon-180x180.png')
    
  link(rel="manifest" href="manifest.json")

  meta(name='msapplication-TileColor' content='#4871e2')
    
  // Facebook og data
  meta(property='fb:admins' content='614065150')
  meta(property='og:type' content='website')
  meta(property="og:url" content='https://startupberlin.co/' + (htmlWebpackPlugin.options.page ? htmlWebpackPlugin.options.page + '/' : ''))
  meta(property='og:title' content=title || 'Startup Berlin Chat')
  meta(property='og:description' content=description || 'Talk to the 9200+ startup people from the Berlin startup scene. Join conversations on #tech, #blockchain and #musictech. Find and post startup jobs. ')
  meta(property="og:image" content=metaImageUrlHttps ? 'https://startupberlin.co/assets/img/' + metaImageUrlHttps : 'https://startupberlin.co/assets/img/og-image-startup-berlin.png')
  meta(property="og:image:secure_url" content=metaImageUrlHttps ? 'https://startupberlin.co/assets/img/' + metaImageUrlHttps : 'https://startupberlin.co/assets/img/og-image-startup-berlin.png')
  
  // Twitter Card data
  meta(name='twitter:card' content='summary_large_image')
  meta(name='twitter:site' content='@startupslack')
  meta(name='twitter:creator' content='@idmtr')
  meta(name='twitter:title' content=description || 'Talk to the 9200+ startup people from the Berlin startup scene. Join conversations on #tech, #blockchain and #musictech. Find and post startup jobs. ')
  meta(name='twitter:image' content=metaImageUrlHttps ? 'https://startupberlin.co/assets/img/' + metaImageUrlHttps : 'https://startupberlin.co/assets/img/og-image-startup-berlin.png')
    
  include thirdpartyscripts
