mixin signupBtnPrimary(options = {})
  - defaults = {color: 'primary'};
  - extras = Object.assign(defaults, options);
  a.btn.btn-lg(href='https://sbsg.typeform.com/to/RspMa4' class='btn-' + extras.color target='_blank')
    i.fab.fas.fa-key.align-middle
    | 
    | Request #[strong Access]

mixin emoji(icon)
  .emoji-icon&attributes(attributes)
    img(src='../assets/img/' + icon)

mixin homeFeatures(elements = {})
  - defaults = {emoji: '1', title: 'Default', description: 'Default Description'};
  - extras = Object.assign(defaults, elements);
  +emoji(extras.emoji)(class='mx-auto')
  h4.mb-4 #{extras.title}
  p #{extras.description}
  
mixin cardDirectory(elements = {})
  - defaults = {img: './img/placeholder.gif', title: 'Loading...', tags:'default, default', description: 'Loading...', link: 'https://startupberlin.co/'};
  - extras = Object.assign(defaults, elements);
  .card.card-sb.shadow.border-0
    a.card-sb__details.card-sb__link(href='#' target='_blank')
        h5.card-title.card-sb__title #{extras.title}
        p.card-sb__description #{extras.title}
        strong
          | Learn more
          | 
          i.fal.fa-long-arrow-right
    - var imgCheck = img === undefined ? './assets/img/placeholder.gif' : img
    .card-sb__img(style='background-image: url(' + imgCheck + ')')
    .card-body
      h5.card-title.card-sb__title.mb-0 #{extras.title}
      - var tagsArray = extras.tags || [];
      each val in tagsArray
        a.badge.badge-secondary(href='#') #{val}
        | 
      p.card-text.d-none #{extras.description}
    //-.card-footer.py-4
      //- .float-left.text-muted
      //-   small
      //-     i.fal.fa-eye
      //-     | 
      //-     | 324
      //- .float-right.text-muted
      //-   small.text-muted
      //-     i.fal.fa-clock
      //-     | 
      //-     | 30. Jan
