div.news.text-white.p-3.text-center
  p.mb-0
    | Join also our LinkedIn Group 🐻 👉 
    //- strong #[a.text-dark(href='https://twitter.com/startupslack' target='_blank') HERE]
    strong #[a.text-light(href='https://www.linkedin.com/groups/4539751/' target='_blank') HERE]
nav#navStartupBerlin.navbar.navbar-expand-lg.navbar-dark.fixed-top
  #navbarStartupBerlin.collapse.navbar-collapse.order-1.order-lg-0
    ul.navbar-nav.w-100.justify-content-center
      li.nav-item
        //- canvas#icon0(width="40" height="40")
        div.weather
          div#temperature
          div#temperature-format
            div °C
      //- li.nav-item
      //-   a.nav-link(href='https://twitter.com/StartupSlack' target='_blank')
      //-     i.fab.fa-twitter.fa-lg
      //- li.nav-item
      //-   a.nav-link(href='https://medium.com/startup-berlin-stories') Bulletin
      li.nav-item
        a.nav-link(href='https://directory.startupberlin.co' target='_blank') Directory
      li.nav-item
        a.nav-link(href='https://startupberlin.co/speakers') Speakers
      li.nav-item
        a.nav-link(href='https://shop.startupberlin.co' target='_blank') Shop
      li.nav-item
        a.nav-link(href='https://startupberlin.co/jobs') Jobs
      li.nav-item
        a.nav-link(href='https://startupberlin.co/events') Events
      li.nav-item.d-lg-none
        a.nav-link.mr-4(href='https://startupberlin.slack.com/') Log in
      li.nav-item.d-lg-none
        a.btn.btn-primary.my-2.my-sm-0(href='https://sbsg.typeform.com/to/RspMa4' target='_blank') Request Access
  .d-flex.w-100.order-0
    #mobileButton.order-1.order-lg-0.align-self-center
      button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarStartupBerlin')
        span.navbar-toggler-icon
    a.navbar-brand.d-flex(href='/' style="margin-right: 8rem;")
      include ./sb-logo-white
      include ./sb-logo-color
  ul.navbar-nav.ml-auto.w-100.justify-content-end.d-none.d-lg-flex
    li.nav-item
      a.nav-link.mr-4(href='https://startupberlin.slack.com/') Log in
    li.nav-item.align-self-center
      a.btn.btn-primary.my-2.my-sm-0.d-none.d-lg-inline-block(href='https://sbsg.typeform.com/to/RspMa4' target='_blank') Request Access
