svg.logo-white(xmlns='http://www.w3.org/2000/svg', width='131.73', height='48.52', viewBox='0 0 131.73 48.52')
  title Startup Berlin Logo
  g
    g
      path.cls-0(d='M61.7,17.63,62,17.3c.18-.22.31-.31.56-.1a5.07,5.07,0,0,0,3,1.27,2.1,2.1,0,0,0,2.32-2c0-1.2-1-1.89-3-2.74s-3.05-1.54-3.05-3.52c0-1.18.93-3.08,3.69-3.08a5.66,5.66,0,0,1,3,.88.39.39,0,0,1,.11.59l-.18.29c-.13.25-.33.25-.6.09a4.12,4.12,0,0,0-2.31-.69c-1.84,0-2.39,1.18-2.39,1.9,0,1.24.88,1.77,2.34,2.38,2.34.95,3.85,1.84,3.85,3.85a3.5,3.5,0,0,1-3.75,3.19,5.61,5.61,0,0,1-3.65-1.41C61.67,18.1,61.46,18,61.7,17.63Z')
      path.cls-0(d='M73.73,8.48h-3a.33.33,0,0,1-.33-.33v-.5a.33.33,0,0,1,.33-.33h7.35a.33.33,0,0,1,.33.33v.5a.33.33,0,0,1-.33.33h-3V19.12a.34.34,0,0,1-.33.33h-.66a.34.34,0,0,1-.33-.33Z')
      path.cls-0(d='M78.29,19,83.56,7.34a.3.3,0,0,1,.3-.19H84a.29.29,0,0,1,.29.19L89.56,19a.31.31,0,0,1-.3.45h-.69a.3.3,0,0,1-.29-.19L87,16.4H80.84l-1.27,2.86a.3.3,0,0,1-.29.19h-.69A.31.31,0,0,1,78.29,19Zm8.24-3.67c-.85-1.89-1.69-3.8-2.54-5.69h-.13l-2.54,5.69Z')
      path.cls-0(d='M91.36,7.65a.33.33,0,0,1,.33-.33h4.49A3.73,3.73,0,0,1,100,11a3.87,3.87,0,0,1-2.57,3.54L99.77,19a.33.33,0,0,1-.3.5h-.83a.37.37,0,0,1-.38-.26L96,14.7H92.7v4.42a.34.34,0,0,1-.33.33h-.68a.33.33,0,0,1-.33-.33Zm4.73,5.91a2.49,2.49,0,1,0,0-5H92.73v5Z')
      path.cls-0(d='M104.64,8.48h-3a.33.33,0,0,1-.33-.33v-.5a.33.33,0,0,1,.33-.33H109a.33.33,0,0,1,.33.33v.5a.33.33,0,0,1-.33.33h-3V19.12a.34.34,0,0,1-.33.33H105a.33.33,0,0,1-.33-.33Z')
      path.cls-0(d='M111.29,7.65a.35.35,0,0,1,.33-.33h.66a.33.33,0,0,1,.33.33V15a3.28,3.28,0,1,0,6.55,0V7.65a.33.33,0,0,1,.33-.33h.66a.34.34,0,0,1,.33.33v7.4a4.6,4.6,0,0,1-9.19,0Z')
      path.cls-0(d='M123.69,7.65a.33.33,0,0,1,.33-.33h3.83a3.87,3.87,0,1,1,0,7.73H125v4.07a.34.34,0,0,1-.33.33H124a.33.33,0,0,1-.33-.33Zm4.07,6.12a2.59,2.59,0,0,0,2.64-2.65,2.47,2.47,0,0,0-2.64-2.48H125v5.13Z')
      path.cls-0(d='M69.15,33.54A3.64,3.64,0,0,1,72,37c0,2.52-2.12,4.13-4.66,4.13H62a.41.41,0,0,1-.41-.41V26.58a.4.4,0,0,1,.41-.4h5c2.53,0,4.6,1.73,4.6,4a3.68,3.68,0,0,1-2.43,3.36Zm-2.44-1.29a1.44,1.44,0,0,0,1.39-1.54,1.37,1.37,0,0,0-1.39-1.45H64.93v3Zm0,5.85c1.07,0,1.67-.54,1.67-1.54A1.48,1.48,0,0,0,66.79,35H64.93V38.1Z')
      path.cls-0(d='M74.65,26.58a.4.4,0,0,1,.4-.4h8.86a.4.4,0,0,1,.41.4v2.34a.4.4,0,0,1-.41.4H78V32h4.88a.42.42,0,0,1,.41.4v2.34a.4.4,0,0,1-.41.4H78V38h5.93a.41.41,0,0,1,.41.41v2.33a.41.41,0,0,1-.41.41H75.05a.4.4,0,0,1-.4-.41Z')
      path.cls-0(d='M87,26.58a.4.4,0,0,1,.4-.4h6.4a4.57,4.57,0,0,1,1.5,8.92l2.93,5.44a.4.4,0,0,1-.36.62H95A.4.4,0,0,1,94.7,41l-2.85-5.68H90.38v5.46a.43.43,0,0,1-.41.41H87.42a.4.4,0,0,1-.4-.41Zm6.52,6a1.65,1.65,0,0,0,1.63-1.72,1.57,1.57,0,0,0-1.63-1.62H90.38v3.34Z')
      path.cls-0(d='M101.19,26.58a.4.4,0,0,1,.4-.4h2.55a.42.42,0,0,1,.41.4V38h5.09a.4.4,0,0,1,.4.41v2.33a.4.4,0,0,1-.4.41h-8a.4.4,0,0,1-.4-.41Z')
      path.cls-0(d='M112.1,26.58a.42.42,0,0,1,.41-.4h2.56a.42.42,0,0,1,.41.4V40.75a.42.42,0,0,1-.41.41h-2.56a.42.42,0,0,1-.41-.41Z')
      path.cls-0(d='M118.84,26.35a.41.41,0,0,1,.41-.39h.32c.21,0,.36.15.54.32l8.21,7.9h0v-7.6a.41.41,0,0,1,.41-.4h2.57a.42.42,0,0,1,.41.4V41a.38.38,0,0,1-.41.38h-.22a.68.68,0,0,1-.53-.23l-8.32-8.37h0v8a.4.4,0,0,1-.4.41h-2.55a.43.43,0,0,1-.41-.41Z')
      path.cls-0(d='M45.82,8.09a8.08,8.08,0,0,0-13.71-5.8A18.54,18.54,0,0,0,22.91,0a18.57,18.57,0,0,0-9.2,2.29A8.08,8.08,0,1,0,3.55,14.78,51.16,51.16,0,0,0,0,29.65C0,37.56,6.06,43.56,16.46,45.3a8.07,8.07,0,0,0,12.9,0c10.4-1.74,16.46-7.74,16.46-15.65a51.33,51.33,0,0,0-3.54-14.87A8.08,8.08,0,0,0,45.82,8.09ZM4.7,12.28A5.39,5.39,0,0,1,8.09,2.7a5.32,5.32,0,0,1,3.29,1.13A24.88,24.88,0,0,0,4.7,12.28Zm8.78,13.33v-2.7a2.7,2.7,0,0,1,5.39,0v2.7a2.7,2.7,0,0,1-5.39,0Zm9.43,20.21a5.39,5.39,0,0,1-4-1.81,8.18,8.18,0,0,0,4-3.15,8.18,8.18,0,0,0,4,3.15A5.37,5.37,0,0,1,22.91,45.82Zm0-6.74c-2.19,0-8.76-4-6.57-5.39s11-1.34,13.14,0S25.1,39.08,22.91,39.08Zm9.44-13.47a2.7,2.7,0,0,1-5.4,0v-2.7a2.7,2.7,0,0,1,5.4,0Zm8.77-13.33a24.76,24.76,0,0,0-6.68-8.45,5.33,5.33,0,0,1,3.3-1.13,5.38,5.38,0,0,1,3.38,9.58Z')
