svg.logo-color(xmlns='http://www.w3.org/2000/svg', width='55.83', height='58.52', viewBox='0 0 45.83 48.52')
  title Startup Berlin Logo
  g
    path.cls-3(d='M16.17,8.09A8.09,8.09,0,1,1,8.09,0a8.08,8.08,0,0,1,8.08,8.09')
    path.cls-3(d='M45.82,8.09A8.09,8.09,0,1,1,37.74,0a8.08,8.08,0,0,1,8.08,8.09')
    path.cls-4(d='M13.48,8.09A5.39,5.39,0,1,1,8.09,2.7a5.4,5.4,0,0,1,5.39,5.39')
    path.cls-4(d='M43.13,8.09A5.39,5.39,0,1,1,37.74,2.7a5.4,5.4,0,0,1,5.39,5.39')
    path.cls-3(d='M45.82,29.65S44.06,0,22.91,0,0,29.65,0,29.65C0,37.56,6.06,43.56,16.46,45.3a8.07,8.07,0,0,0,12.9,0c10.4-1.74,16.46-7.74,16.46-15.65')
    path.cls-5(d='M28.3,40.43A5.39,5.39,0,1,1,22.91,35a5.39,5.39,0,0,1,5.39,5.39')
    path.cls-6(d='M22.91,27s-14.82,5-14.82,9.44a8.08,8.08,0,0,0,14.82,4.47,8.09,8.09,0,0,0,14.83-4.47c0-4.47-14.83-9.44-14.83-9.44')
    path.cls-7(d='M13.48,22.91a2.7,2.7,0,0,1,5.39,0v2.7a2.7,2.7,0,0,1-5.39,0Z')
    path.cls-7(d='M27,22.91a2.7,2.7,0,0,1,5.4,0v2.7a2.7,2.7,0,0,1-5.4,0Z')
    path.cls-7(d='M16.34,33.69c-2.19,1.35,4.38,5.39,6.57,5.39s8.76-4,6.57-5.39-10.95-1.34-13.14,0')
