svg(xmlns='http://www.w3.org/2000/svg' width='58.56' height='58.52' viewBox='0 0 48.56 48.52')
  style.
    .s-1{fill:#ecb32d;}.s-2{fill:#63c1a0;}.s-3{fill:#e01a59;}.s-4{fill:#331433;}.s-5{fill:#d62027;}.s-6{fill:#89d3df;}.s-7{fill:#258b74;}.s-8{fill:#819c3c;}
  title Slack Logo
  g
  path.s-1(d='M31.47,3a4.33,4.33,0,1,0-8.24,2.67L34.42,40.07a4.31,4.31,0,0,0,5.26,2.66,4.24,4.24,0,0,0,2.94-5.33C42.62,37.32,31.47,3,31.47,3Z')
  path.s-2(d='M14.15,8.61a4.33,4.33,0,1,0-8.24,2.66L17.1,45.68a4.31,4.31,0,0,0,5.25,2.67A4.25,4.25,0,0,0,25.3,43C25.3,42.93,14.15,8.61,14.15,8.61Z')
  path.s-3(d='M45.57,31.46a4.33,4.33,0,1,0-2.67-8.24L8.45,34.45a4.32,4.32,0,0,0-2.66,5.26,4.23,4.23,0,0,0,5.33,2.94C11.2,42.65,45.57,31.46,45.57,31.46Z')
  path.s-4(d='M15.62,41.22l8.25-2.67c-.72-2.23-1.68-5.13-2.67-8.24L13,33Z')
  path.s-5(d='M33,35.57c3.11-1,6-2,8.25-2.67-.72-2.23-1.67-5.14-2.67-8.25l-8.24,2.67Z')
  path.s-6(d='M39.91,14.14A4.33,4.33,0,1,0,37.25,5.9L2.84,17.09A4.31,4.31,0,0,0,.17,22.34a4.25,4.25,0,0,0,5.34,2.95C5.59,25.29,39.91,14.14,39.91,14.14Z')
  path.s-7(d='M10,23.86l8.24-2.67c-1-3.11-1.95-6-2.67-8.24L7.34,15.61Z')
  path.s-8(d='M27.33,18.24c3.11-1,6-1.95,8.24-2.67-1-3.1-2-6-2.66-8.24L24.66,10Z')
