//
// Color system
//

$blue:    #4871e2;
$pink:    #e7aaaa;
$red:     #de3045;
$yellow:  #fbda2b;

$sb-brown:       #c26a50;
$sb-light-brown: #da9f83;



$gray-300: #d7dee2;
$gray-600: #797d7f;
$gray-700: #454749;
$gray-800: #4e5253;
$gray-900: #272b2b;
$sb-black: #17191b;


$theme-colors: (
  "primary": $yellow,
  "blue": $blue,
  "brown": $sb-brown,
  "light-brown": $sb-light-brown,
  "pink": $pink
);

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;

$spacers: (
  6:  ($spacer * 6),
  10: ($spacer * 10),
  15: ($spacer * 15),
  30: ($spacer * 30),
  35: ($spacer * 35),
  40: ($spacer * 40)
);

// Fonts
//
// Font, line-height, and color for body text, headings, and more.

// stylelint-disable value-keyword-case
$font-family-sans-serif: "Work Sans", sans-serif;

$font-weight-medium:          500;
$font-weight-semi-bold:       600;
$font-weight-bold:            700;

$display1-weight:             600;
$display2-weight:             600;
$display3-weight:             600;
$display4-weight:             600;
$display5-weight:             700;
$display6-weight:             700;

$display5-size:               3rem;
$display6-size:               2.5rem;
$display7-size:               2.2rem;

// Links
//
// Style anchor elements.

$link-color: $blue;
a { font-weight: $font-weight-medium }


// Buttons
//
// For each of Bootstrap's buttons, define text, background, and border color.
// Allows for customizing button radius independently from global border radius

$btn-border-radius:           2rem;
$btn-border-radius-lg:        2rem;
$btn-border-radius-sm:        1rem;

$btn-padding-x:               1.2rem;

// Badges

$badge-font-weight:                 $font-weight-medium;


// Tooltips
$tooltip-font-size:                 1.2rem;
$tooltip-color:                     $gray-300;
$tooltip-bg:                        $blue;
//$tooltip-opacity:                   .9;
$tooltip-arrow-color:               $blue;
