.container-recent-jobs {
    margin-bottom: 10rem;
    z-index: 9999;
    position: relative;
}

#job-container {
  padding-bottom: 100px;
}

.job-card {
  background-color: var(--color-bg-secondary);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  padding: var(--spacing-md);
  margin-bottom: var(--spacing-md);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform var(--transition), box-shadow var(--transition);
}

.job-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 4px 16px rgba(0,0,0,0.1);
}

.job-card .job-title {
  font-size: 1.5rem;
  margin-bottom: var(--spacing-xs);
  color: var(--color-heading);
  font-weight: 700;
  line-height: 1.3;
}

.job-card .job-company {
  font-size: 1.2rem;
  margin-bottom: var(--spacing-xs);
  color: var(--color-text);
  font-weight: 600;
}

.job-card .job-location {
  font-size: 1rem;
  margin-bottom: var(--spacing-sm);
  color: var(--color-muted);
}

.job-card p {
  font-size: 1rem;
  color: var(--color-text);
  margin-bottom: var(--spacing-sm);
  line-height: 1.6;
}

.job-card p strong {
  color: var(--color-heading);
  font-weight: 700;
}

.job-card a {
  color: var(--color-accent);
  text-decoration: none;
  transition: color var(--transition);
}

.job-card a:hover {
  color: var(--color-hover);
}

.job-card ul {
  list-style: disc;
  margin-bottom: var(--spacing-sm);
  padding-left: var(--spacing-sm);
}

.job-card ul li {
  margin-bottom: 0.5rem;
  font-size: 1rem;
  color: var(--color-text);
  line-height: 1.4;
}

.job-card .text-muted {
  color: var(--color-muted);
}

/* Responsive Adjustments */
@media (max-width: 600px) {
  .job-card .job-title {
    font-size: 1.25rem;
  }

  .job-card .job-company {
    font-size: 1.1rem;
  }

  .job-card .job-location,
  .job-card p,
  .job-card ul li {
    font-size: 0.875rem;
  }
}


.search-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

#search-bar {
  flex: 1;
  margin-right: 15px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}

.job-type-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.job-type-tags .tag {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #007bff;
  border-radius: 20px;
  cursor: pointer;
  color: #007bff;
  background-color: #f8f9fa;
  transition: background-color 0.2s, color 0.2s;
}

.job-type-tags .tag:hover {
  background-color: #fbda2b;
  color: #000000;
}

.job-type-tags .tag.active {
  background-color: #0056b3;
  color: #ffffff;
  border-color: #0056b3;
}
