.main-home {
  position: relative;
  height: 70rem;
  overflow: hidden;
  @include media-breakpoint-up(sm) {
    overflow: visible;
  }
  &:before,
  &:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  &:before {
    background-image: url('~/assets/img/branderburger-tor.jpg');
    background-size: cover;
    @extend .grayed-out;
  }
  &:after {
    background-color: rgba($blue, .9);
  }
}
.jumbotron {
  &.jumbotron-main {
    @extend .mb-0;
    height: 100%;
    border-radius: 0;
    background-color:transparent;
    position: relative;
    h1, h2 { text-shadow: 0 2px 2px rgba(0,0,0,.3); }
  }
  &.jumbotron-bulletin {
    @extend .mb-0;
    height: 100%;
    border-radius: 0;
    background-color: $primary;
    position: relative;
    h1, h2 { text-shadow: 0 2px 2px rgba(0,0,0,.3); }
  }
  &.jumbotron-senate {
    // @extend .mb-0;
    // height: 100%;
    // border-radius: 0;
    background-color: #fcda2a;
    // position: relative;
    // h1, h2 { text-shadow: 0 2px 2px rgba(0,0,0,.3); }
  }
}

.white-wave {
  background-image: url('~/assets/img/white-blue-wave.svg');
  @extend .home-wave, .home-wave__bottom;
}

.emoji-home {
  position: absolute;
  font-size: 3rem;
  animation: float-emoji 5s ease-in-out infinite;
  // WINTER
  &__snowflake {
    left: 2rem;
    bottom: 32rem;
    animation-delay: -1s;
    &:before {
      content: "";
      background-image: url('~/assets/img/snowflake.png');
      width: 46.199px;
      height: 48.814px;
      display: block;
      background-size: cover;
    }
  }

  &__snowflake2 {
    top: 7.5rem;
    right: 20rem;
    font-size: 2.5rem;
    &:before {
      content: "";
      background-image: url('~/assets/img/snowflake.png');
      width: 46.199px;
      height: 48.814px;
      display: block;
      background-size: cover;
    }
  }

  &__snowman {
    left: 31rem;
    top: 34.5rem;
    animation-delay: -3s;
    &:before {
      content: "";
      background-image: url('~/assets/img/snowman.png');
      width: 46.199px;
      height: 48.814px;
      display: block;
      background-size: cover;
    }
  }
  // END WINTER


  // HALLOWEEN

  &__ghost {
    left: 31rem;
    top: 34.5rem;
    animation-delay: -3s;
    &:before {
      //content: "👻";
      content: "";
      background-image: url('~/assets/img/ghost_1f47b.png');
      width: 46.199px;
      height: 48.814px;
      display: block;
      background-size: cover;
    }
  }

  &__bat {
    top: 7.5rem;
    right: 20rem;
    font-size: 2.5rem;
    &:before{
      content: "🦇";
    }
  }

  &__owl {
    top: 22.6rem;
    right: 46rem;
    animation: unset;
    transform: scaleX(-1);
    font-size: 2.5rem;
    &:before{
      content: "🦉";
      content: "";
      // background-image: url('~/assets/img/owl.png');
      width: 36.199px;
      height: 38.814px;
      display: block;
      background-size: cover;
    }
  }

  &__skull {
    right: 6rem;
    bottom: 28.5rem;
    animation-delay: -4s;
    &:before{
      content: "💀";
      content: "";
      // background-image: url('~/assets/img/skull.png');
      width: 46.199px;
      height: 48.814px;
      display: block;
      background-size: cover;
    }
  }

  &__pumpkin {
    left: 2rem;
    bottom: 32rem;
    animation-delay: -1s;
    &:before {
      //content: "🎃"
      content: "";
      background-image: url('~/assets/img/jack-o-lantern_1f383.png');
      width: 46.199px;
      height: 48.814px;
      display: block;
      background-size: cover;
    }
  }
  &__pumpkin2 {
    right: 10rem;
    bottom: 8rem;
    animation-delay: -1s;
    &:before {
      //content: "🎃"
      content: "";
      background-image: url('~/assets/img/jack-o-lantern_1f383.png');
      width: 46.199px;
      height: 48.814px;
      display: block;
      background-size: cover;
    }
  }
}

@keyframes float-emoji {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-20px);
	}
	100% {
		transform: translatey(0px);
	}
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  100% {
    opacity: 1;
    transform: none;
  }
}
.sb-slack {
  border-radius: $border-radius-lg;
  @extend .shadow-lg;
  width: 47rem;

  @include media-breakpoint-up(md) {
    position: absolute;
    left: -11rem;
    z-index: 2;
    bottom: 1rem;
    width: 47rem;
  }

  @include media-breakpoint-up(xl) {
    position: absolute;
    left: 12rem;
    z-index: 2;
    bottom:0;
    width: 47rem;
  }
}

// .sb-slack {
//   border-radius: $border-radius-lg;
//   @extend .shadow-lg;
//   width: 53rem;
//   position: relative;
//   z-index: 2;
//   bottom: -6rem;
// }


.sb-bubble-1,
.sb-bubble-2 {
  width: 14rem;
  position: absolute;
  z-index: 2;
}

.sb-bubble-1 {
  @include media-breakpoint-up(md) {
    right: 0;
    bottom: 27rem;
  }
  @include media-breakpoint-up(xl) {
    right: 15rem;
    bottom: 25rem;
  }
  @media (min-width: 1600px) {
    right: 28rem;
  }
}

.sb-bubble-2 {
  @include media-breakpoint-up(md) {
    right: 0;
    bottom: 13rem;
  }
  @include media-breakpoint-up(xl) {
    right: 9rem;
    bottom: 11rem;
  }
  @media (min-width: 1600px) {
    right: 18rem;
  }
}
.weather {
  background-color: #fbda2b;
  display: inline-flex;
  color: #272b2b;
  padding: 0.5em;
  border-radius: 5px;
}
// transition-timing-function: cubic-bezier(.19,1,.22,1)
// transition-duration: 2s;
// transition-delay: 0;
// transition-delay: .4s;
// transform: translate(0,0);
//
// opacity: 1;
// transform: translate(0,0);
