// nav {
//   @include transition(background-color .2s linear);
// }

#mobileButton {
  @include media-breakpoint-up(lg) {
    width: 100%;
  }
}

.navbar-brand {
  width: 100%;
  @include media-breakpoint-up(lg) {
    width: auto;
  }
}

.news {
  // background: linear-gradient(306deg,#00d301,#36c275 50%,#00a562);
  background-color: rgb(159, 0, 153);
}

#navStartupBerlin {
  background-color: $dark;
  margin-top:64px;
  @include media-breakpoint-up(lg) {
    background-color: transparent;
  }
}
