.display-5 {
  font-size: $display5-size;
}
.display-6 {
  font-size: $display6-size;
}
.display-7 {
  font-size: $display7-size;
}

//
// Headings
//

//$headings-font-weight:      600;

h1, h2, .h1, .h2 { font-weight: $font-weight-bold; }
h3, .h3, strong { font-weight: $font-weight-semi-bold; }
