.opacity-08 { opacity: .8; }

.font-weight-semi-bold { font-weight: $font-weight-semi-bold; }

.emoji-icon {
  @extend .shadow-sm, .pt-3, .rounded, .text-center, .mb-5, .bg-light;
  width: 5.5rem;
  height: 5.5rem;
  img {
    height: 3.5rem;
    width: 3.5rem;
  }
}

.grayed-out {filter: unquote('grayscale(100%)');}

.cls-0{fill:$white;}
.cls-1 { fill:$gray-900; }
.cls-3 { fill:$sb-brown; }
.cls-4 { fill:$pink; }
.cls-5 { fill:$red; }
.cls-6 { fill:$sb-light-brown; }
.cls-7 { fill:$gray-900; }

.home-wave {
  display: block;
  height: 10rem;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  margin: auto;
  left: 0;
  right:0;
  z-index: 1;
}


.home-wave__top {
  top: -10rem;
  @include media-breakpoint-up(sm) {
    height: 15rem;
    top: -15rem;
  }
  @include media-breakpoint-up(md) {
    height: 20rem;
    top: -20rem;
  }
  @include media-breakpoint-up(lg) {
    height: 34rem;
    top: -34rem;
  }
}
.home-wave__bottom {
  bottom: 0;
  @include media-breakpoint-up(sm) {
    height: 15rem;
  }
  @include media-breakpoint-up(md) {
    height: 20rem;
  }
  @include media-breakpoint-up(lg) {
    height: 34rem;
  }
}
.home-wave__footer {
  top: -4rem;
  height: 4rem;
  @include media-breakpoint-up(sm) {
    height: 7rem;
    top: -7rem;
  }
  @include media-breakpoint-up(md) {
    height: 10rem;
    top: -10rem;
  }
  @include media-breakpoint-up(lg) {
    height: 10rem;
    top: -10rem;
  }
}
