#mce-EMAIL {
  @include media-breakpoint-up(md) {
    padding: 2rem 13rem 2rem 1.5rem;
    border-radius: 2rem;
  }
}
#mc-embedded-subscribe {
  @include media-breakpoint-up(md) {
    position: absolute;
    right: .5rem;top: .5rem;
  }
}

.container-bulletin {
  background-color: theme-color('primary');
  @extend .pb-10, .mb-10;
  position: relative;
  &:before,
  &:after {
    content: '';
  }
  &:before {
    background-image: url('~/assets/img/yellow-wave.svg');
    @extend .home-wave, .home-wave__top;
  }
  &:after {
    background-color: white;
    border-radius: 50%;
    height: 10rem;
    bottom: -6rem;
    position: absolute;
    z-index: 1;
    width: 50rem;
    margin-left: -25rem;
    left: 50%;
    @include media-breakpoint-up(md) {
      width: 70rem;
      margin-left: -35rem;
    }
    @include media-breakpoint-up(lg) {
      height: 20rem;
      width: 150rem;
      bottom: -16rem;
      margin-left: -75rem;
    }
  }
  .img-bulleting {
    max-width: 900px;
    position: relative;
    left: -12rem;
    @include media-breakpoint-up(md) {
      position: absolute;
      z-index: 2;
      left: -5rem;
      top: -15rem;
    }
    @include media-breakpoint-up(lg) {
      left: 0;
    }
  }
}
