.container-connections {
  background-color: $gray-300;
  position: relative;
  &:before,
  &:after {
    content: '';
  }
  &:before {
    background-image: url('~/assets/img/gray-wave.svg');
    @extend .home-wave, .home-wave__top;
  }
  &:after {
    background-image: url('~/assets/img/white-wave.svg');
    @extend .home-wave, .home-wave__bottom;
  }

  .container {
    position: relative;
    z-index: 2;
  }
  .img-conntections {
    max-width: 900px;
    position: relative;
    left: -12rem;
    @include media-breakpoint-up(md) {
      max-width: 900px;
      position: absolute;
      z-index: 2;
      left: -32rem;
      top: -15rem;
    }
    @include media-breakpoint-up(lg) {
      left: -19rem;
    }
  }
}
