.container-directory {
  @extend .pb-15, .mb-30;
}

.card-sb {
  &__img {
    height: 14rem;
    @extend .rounded-top, .bg-light;
    background-size: cover;
    background-position: 0;
    background-repeat: no-repeat;
  }
  .card-body {
    min-height: 7rem;
  }
  &__details {
    position: absolute;
    background-color: $yellow;
    // top:20px;
    // bottom:20px;
    // left:20px;
    // right:20px;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    //transform:rotate3d(1, 0, 0, 70deg);
    opacity: 0;
    @extend .p-4, .text-white;
    @include border-radius(50%);
    @include transition();
  }
  &__description {
    line-height: 1.2rem;
  }
  @include hover {
    .card-sb__details {
      opacity:1;
      //transform:rotate3d(0,0,0,0deg);
      @include border-radius(.4rem);
      background-color: darken(desaturate(rgba($blue, .8), 30%), 30%);
      text-decoration: none;
    }
  }
}

.company-icon-container {
  background-image: url(~/assets/img/startup-berlin-logo-color.svg);
  align-items: center;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-duration: 4s;
  animation-name: floating;
  animation-timing-function: ease-in-out;
  background-color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  z-index: 2;
  background-size: 70%;
  position: absolute;
  @extend .shadow;
  @include transition();
}

@keyframes floating {
  0% {
     transform: translateY(8px) rotate3d(0,0,1,3deg);
  }

100% {
    transform: translateY(-8px) rotate3d(0,0,1,0deg);
  }
}
$brandStyles : (0, 224px, 15px, -3.4s),
           (1, 265px, 524px, -2.4s),
           (2, 250px, 302px, -.3s),
           (3, 90px, 670px, -3.9s),
           (4, 188px, 855px, -.9s),
           (5, 9px, 898px, -2.9s),
           (6, 139px, 211px, -2.2s),
           (7, 0, 0, 0),
           (8, 38px, 417px, -1.8s),
           (9, 120px, 1048px, -2.9s),
           (10, 5rem, -7rem, -1.9s);

@each $number, $marginTop, $marginLeft, $animationDelay in $brandStyles {
  .sb-#{$number} {
    margin-top: $marginTop;
    margin-left: $marginLeft;
    animation-delay: $animationDelay;
  }
}

a:hover {
  [class*='sb-'] {
    background-color: $gray-200;
    filter: blur(0) !important;
    @extend .shadow-lg;
  }
}

.startup-logos {
  background-image: url('~/assets/img/startup-logos.png');
  background-size: cover;
  display: block;
  width: 8rem;
  height: 8rem;

  $logos: (
    'silicon',
    'penta',
    'noisli',
    'grovr',
    'getyourguide',
    'enklave',
    'earlybird',
    'coworkies',
    'apx',
    '5vfacts',
    'zenfulfillment');

  $position-of-logos: 100%/(length($logos) - 1);

  @each $logo in $logos {
    $i: index($logos, $logo) - 1;
    $posX: if($i == 0, 0, $position-of-logos * $i);
    $posY: if($i == 0, 0, 50%);

    &__#{$logo} {
      background-position: $posX $posY;
    }
  }
}
