.container-features {
  @extend .mb-10;
}

legend{
  color: #4469cf;
  width:200px;
  padding:10px 20px;
}

fieldset{
  border: 1px solid #4469cf;
  border-radius: 30px;
  padding: 14px;
  overflow: hidden;
  &:hover {
    // background-color: #f3f3f3;
    // .hover-text {
    //   opacity: 1;
    //   transform: translateX(0);
    //   transition: opacity .5s ease-out, transform .2s ease-out;
    // }
  }
}

