.container-footer {
  @extend .pb-6, .text-white;
  background-color: $gray-700;
  position: relative;
  padding: 3rem 0;
  &:before {
    // content: '';
  }
  &:before {
    background-image: url('~/assets/img/black-wave.svg');
    @extend .home-wave, .home-wave__footer;
  }

  a {
    @extend .text-white;
  }
}
