.container-pricing {
  @extend .pb-5, .mb-3;
  position: relative;
  z-index: 1;
  background-image:url('~/assets/img/startup-team.jpg');
  background-position: 42% 0;
  background-repeat: no-repeat;
  background-size: cover;
  @include media-breakpoint-up(md) {
    background-position: 0 bottom;
  }
}
