extends ../partials/layout
block head
  - title = 'Request Access'
  - description = 'Request Access to Startup Berlin Slack'
  - keywords = 'berlin, startup, slack, community'
  - metaImageUrlHttps = 'speakers-list.jpg'
block body
  //- access Content
  include jumbotron
