main
  .jumbotron.jumbotron-bulletin.pt-6.pt-md-10
    .container.text-center.text-white
      .row
        .col
          h1.display-5.mb-5 Request Invite for Startup Slack Berlin
          iframe.mb-10(src="https://docs.google.com/forms/d/e/1FAIpQLSdDB9ViOza9YPEqC349iS9vjQxQQHb6fWtZd3COCUhqC59TfA/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" style='min-height:80rem;')
          |
          br
          |
          p.mb-5 yoyo