extends ../partials/layout
block head
  - title = 'Welcome to Startup Berlin'
  - description = 'The rules onf the community'
  - keywords = 'Rules, guides, manual'
  - metaImageUrlHttps = 'og-image-bulletin.png'
block body
  //- Welcome Content
  include jumbotron