main
  .jumbotron.jumbotron-bulletin.pt-6.pt-md-10
    .container.text-center.text-white
      .row
        .col
          h1.display-5.mb-5 Startup Berlin Rules Guide 
          iframe.mb-10(src="https://docs.google.com/document/d/e/2PACX-1vTTOdB7RtEk7GG8NAaIK6f7DsvJQ1pQ627nokbA5F3iH3_IGA-TPDKRLkz9p4Q1LhfcxVIwsLN2Car4/pub?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" style='min-height:180rem;')
