extends ../partials/layout
block head
  - title = 'SignUp'
  - description = 'Find and add female and nonbinary speakers from Berlin'
  - keywords = 'female, nonbinary, speakers, berlin, startup, community'
  - metaImageUrlHttps = 'speakers-list.jpg'

block body
  //- Speakers Content
  include jumbotron
