main
  .jumbotron.jumbotron-bulletin.pt-6.pt-md-10
    .container-fluid.mb-10
      .row
        .col-6.bg-primary.px-0
          //- img(src='/assets/img/startup-team.jpg' alt='Placeholder image').img-fluid
          p This is some text on the left side
        .col-6
          form
            .form-group
              label(for='name') Name
              input.form-control.form-control-lg(type='text' id='name' placeholder='Enter name')
            .form-group
              label(for='email') Email
              input.form-control.form-control-lg(type='text' id='email' placeholder='Enter answer')
            .form-group
              label(for='question2') Question 2
              input.form-control.form-control-lg(type='text' id='question2' placeholder='Enter answer')
            .form-group
              label(for='question3') Question 3
              input.form-control.form-control-lg(type='text' id='question3' placeholder='Enter answer')
            .form-group
              label(for='question4') Question 4
              input.form-control.form-control-lg(type='text' id='question4' placeholder='Enter answer')
            button.btn.btn-primary(type='submit') Submit