section.container-fluid.container-bulletin
  .container
    .row
      .col-md-7.col-lg-6
        +emoji('envelope_2709.png')
        h3.display-6.my-5 Get updates from the Berlin Startup Scene
        p.mb-4 Once a month we send a news bulletin with content submitted by the group members. Subscribe to get the freshest updates from the Berlin Startup Scene.
        p.mb-5
          a(href='https://medium.com/@startupslack' target='_blank')
            | Check previous bulletins
            | 
            i.fal.fa-long-arrow-right
        #mc_embed_signup
          form#mc-embedded-subscribe-form.validate(action='//StartupBerlin.us11.list-manage.com/subscribe/post?u=3c8c15241e58164cfb5c05569&id=08900bb2df', method='post', name='mc-embedded-subscribe-form', target='_blank', novalidate='')
            #mc_embed_signup_scroll.position-relative
              .form-group
                input#mce-EMAIL.email.form-control.form-control-lg.border-0.shadow-sm(type='email' name='EMAIL' placeholder=' Email address' required)
                // real people should not fill this in and expect good things - do not remove this or risk form bot signups
                div(style='position: absolute; left: -5000px;' aria-hidden='true')
                  input(type='text' name='b_3c8c15241e58164cfb5c05569_08900bb2df' tabindex='-1' value='')
              button#mc-embedded-subscribe.btn.btn-lg.btn-blue(type='submit' name='subscribe')
                i.fas.fa-envelope
                | 
                | Subscribe
                | 
                .fal.fa-long-arrow-right

        //+signupBtnPrimary({color: 'blue'})
      .col-md-5.col-lg-6
        img.img-bulleting(src='./assets/img/bulletin-preview@2x.png')
