section.container-fluid.container-connections.pt-6.pt-lg-0.pb-15.pb-lg-30
  .container
    .row.justify-content-between
      .col-md-5.col-lg-6.order-2.order-md-1
        img.img-conntections(src='./assets/img/connections@2x.png')
      .col-md-6.col-lg-5.order-1.order-md-2
        +emoji('waving-hand-sign_1f44b.png')
        h3.display-6.my-5 Start up great connections
        p.mb-5 Chat with people like you, makers, doers, coders, designers, founders, investors, journalist, marketers, PR's. #[strong Join us!]
        +signupBtnPrimary()
