section.container-fluid.container-directory
  .container
    .row
      .col.text-center
        +emoji('rocket_1f680.png').mx-auto
        h3.display-6.mb-5 Berlin Startup Directory
        h4.mb-6 Browse #[a(href='https://directory.startupberlin.co/collection/berlin-startups/') Startups], #[a(href='https://directory.startupberlin.co/collection/berlin-startup-investors-list/') Investors], #[br] #[a(href='https://directory.startupberlin.co/collection/coworking-spaces-berlin/') Coworking Spaces] &amp; More
    .row#directory-entries
      - for (var i = 0; i < 3; i++)
          .col-md-4.mb-5.mb-sm-0
            +cardDirectory({title: 'Loading...', tags: ['loading...']})
    .row
      .col-12.text-center
        a.btn.btn-lg.btn-outline-blue.my-6(href='https://directory.startupberlin.co/')
          | Browse directory
          | 
          i.fal.fa-long-arrow-right
  .container(style='position: relative;')
    .row
      .col
        - function randomize(arr, acc = []) {
        -    var arr2 = arr.slice(0);
        -    var imgIndex = Math.floor(Math.random() * arr2.length);  
        -    var imgName = arr2.splice(imgIndex, 1);

        -    if (arr2.length) {
        -      var c = [].concat(acc, imgName);
        -      return randomize(arr2, c);
        -    }
        -    return [].concat(acc, imgName);
        - }

        - var startupLogos = [
        -  {img: 'silicon', link: 'https://directory.startupberlin.co/resource/silicon-allee-coworking/', tootlip: 'Silicon Allee'},
        -  {img: 'penta', link: 'https://directory.startupberlin.co/resource/penta/', tootlip: 'Penta'},
        -  {img: 'noisli', link: 'https://directory.startupberlin.co/resource/noisli/', tootlip: 'Noisli'},
        -  {img: 'grovr', link: 'https://directory.startupberlin.co/resource/grover/', tootlip: 'Grover'},
        -  {img: 'getyourguide', link: 'https://directory.startupberlin.co/resource/getyourguide/', tootlip: 'Get your guide'},
        -  {img: 'enklave', link: 'https://directory.startupberlin.co/resource/enklave-coworking-berlin/', tootlip: 'Enklave'},
        -  {img: 'earlybird', link: 'https://directory.startupberlin.co/resource/earlybird-vc/', tootlip: 'Earlybird Vc'},
        -  {img: 'coworkies', link: 'https://directory.startupberlin.co/resource/coworkies/', tootlip: 'Coworkies'},
        -  {img: 'apx', link: 'https://directory.startupberlin.co/resource/apx-axel-springer-porsche-gmbh-co-kg/', tootlip: 'APX Axel Springer Porsche GmbH & Co. KG'},
        -  {img: '5vfacts', link: 'https://directory.startupberlin.co/resource/five-vegan-facts/', tootlip: '5 vegan facts'},
        -  {img: 'zenfulfillment', link: 'https://directory.startupberlin.co/resource/zenfulfillment/', tootlip: 'Zenfulfillment'},
        - ]
        - var startupLogosRandom = randomize(startupLogos);
        
        - var minSize = 3;
        - var maxSize = 9;
        
        //- - var minBlur = 0;
        //- - var maxBlur = .1;
        
        each logo, index in startupLogosRandom
          - var logoClass = 'startup-logos__' + logo.img
          - var logoLink = logo.link
          - var logoTooltip = logo.tootlip
          - var randSize = Math.round(((Math.random() * (maxSize - minSize) + minSize) * 10) / 10)
          - var randBlur = Math.random() * (maxBlur - minBlur) + minBlur
          a(href=logoLink target='_blank')
            .company-icon-container.startup-logos(class=logoClass + ' sb-' + index style='width:' + randSize + 'rem' + ';height:' + randSize + 'rem' data-toggle="tooltip" data-placement="top" title=logoTooltip)
          //- filter: blur(' + randBlur + 'rem);
