.card.card-sb.shadow.border-0.mb-5
  a.card-sb__details.card-sb__link(href=link target='_blank')
      h5.card-title.card-sb__title #{title}
      p.card-sb__description #{description}
      strong
        | Learn more
        | 
        i.fal.fa-long-arrow-right
  .card-sb__img(style='background-image: url(' + img + ')')
  .card-body
    h5.card-title.card-sb__title.mb-0 #{title}
    - var tagsArray = tags || [];
    each val in tagsArray
      a.badge.badge-secondary(href='#') #{vals}
      | 
  //-.card-footer.py-4
    //- .float-left.text-muted
    //-   small
    //-     i.fal.fa-eye
    //-     | 
    //-     | 324
    //- .float-right.text-muted
    //-   small.text-muted
    //-     i.fal.fa-clock
    //-     | 
    //-     | 30. Jan
