section.container-fluid.container-features.py-5.pt-md-10.pb-md-8
  .container.text-center
    h3.display-6.my-5
      |Chat & Share
      br.d-none.d-md-block
      | in One Place
    .row.justify-content-around
      .col-md-4.col-lg-3.mb-5.mb-sm-0
        +homeFeatures({emoji: 'personal-computer_1f4bb.png', title: '#Jobs #Freelancers', description: 'Find and share work opportunities for freelancers and full-time jobs.'})
      .col-md-4.col-lg-3.mb-5.mb-sm-0
          //- fieldset
          //- legend New Channel
          +homeFeatures({emoji: 'bp400x400.png', title: '', description: 'Connect with Berlin Partner'})
          | Helping startup people with their transition to Berlin. We speak German, English & French
          br
          a(href='https://www.berlin-partner.de/en' target='_blank') Learn More
      .col-md-4.col-lg-3.mb-5.mb-sm-0
        +homeFeatures({emoji: 'clinking-beer-mugs_1f37b.png', title: '#Events', description: 'Stay up to date with startup events organized around Berlin.'})
      .col-md-4.col-lg-3.mb-5.mb-sm-0
        +homeFeatures({emoji: 'speech-balloon_1f4ac.png', title: '#Chat_Berlin', description: 'Chat with the Berlin startup community.'})
