main.main-home
  .jumbotron.jumbotron-main.pt-6.pt-md-10
    .container.text-center.text-white
      h1.display-5 Startup Berlin Chat Group
      h2.display-7.font-weight-normal.mx-auto.my-5.opacity-08
        | 9200+ Members Slack-Chat
        br
        | for Berlin Startup People.
      p
        +signupBtnPrimary()
      a(href='https://twitter.com/StartupSlack' style="color: #ffffff80" target='_blank')
        i.fab.fa-twitter.align-middle
        |  Twitter
      p
        | We have a #[strong Typeform limit of 100 invites] per month.
        br
        | If reached, please ask a member to invite you and add a message.
      img.sb-slack.mt-5.mt-md-0(src='./assets/img/startup-berlin-slack-group@2x.png')
      img.sb-bubble-1.d-none.d-md-block(src='./assets/img/chat-bubble-1@2x.png')
      img.sb-bubble-2.d-none.d-md-block(src='./assets/img/chat-bubble-2@2x.png')
  span.white-wave
  //- Halloween
  //- span.emoji-home.emoji-home__bat.d-none.d-md-block
  //- span.emoji-home.emoji-home__skull.d-none.d-md-block
  //- span.emoji-home.emoji-home__owl.d-none.d-md-block
  //- span.emoji-home.emoji-home__pumpkin.d-none.d-md-block
  //- span.emoji-home.emoji-home__pumpkin2.d-none.d-md-block
  //- span.emoji-home.emoji-home__ghost.d-none.d-md-block

  //- Winter
  //- span.emoji-home.emoji-home__snowflake.d-none.d-md-block
  //- span.emoji-home.emoji-home__snowflake2.d-none.d-md-block
  //- span.emoji-home.emoji-home__snowman.d-none.d-md-block
