section.container-fluid.container-pricing
  .container
    .row
      .col.text-center
        include ../partials/sb-logo-color-head
        i.far.fa-plus.align-middle.mx-4.text-muted.fa-2x
        include ../partials/slack-logo-color

        //h3.display-6.my-5 Start today for only #[br] €9.99/life
        br
        br
        +signupBtnPrimary({color: 'blue'})
