section.container-fluid.container-recent-jobs
  .container
    .row
      .col.text-center
        h3.display-6.mb-5 Featured Jobs
        p.mb-4 Check out the latest job openings in Berlin.

    .row#featured-jobs
      //- Placeholder for job cards
      - for (var i = 0; i < 3; i++)
        .col-md-4.mb-5.mb-sm-0
          .job-card-directory
            h5= 'Loading...'
            p= 'Company: Loading...'
    .row
      .col-12.text-center
        a.btn.btn-lg.btn-outline-blue.my-5(href='/jobs')
          | View All Jobs
          i.fal.fa-long-arrow-right
  script.
    (function() {
      async function fetchFeaturedJobs() {
        try {
          const response = await fetch('/.netlify/functions/getJobListings');
          let jobs = await response.json();

          const container = document.getElementById('featured-jobs');
            container.innerHTML = '';
          if (jobs.length === 0) {
            const noJobsMessage = document.createElement('p');
            noJobsMessage.textContent = 'No job listings available at the moment.';
            container.appendChild(noJobsMessage);
            return;
          }

          // Separate featured and non-featured jobs
          const featuredJobs = jobs.filter(job => job.Featured);
          const nonFeaturedJobs = jobs.filter(job => !job.Featured);

          // Ensure we only display up to 3 jobs, mixing featured and recent ones
          const displayedJobs = [
            ...featuredJobs.slice(0, 3), // Take up to 3 featured jobs
            ...nonFeaturedJobs.slice(0, 3 - featuredJobs.length) // Fill the rest with non-featured jobs if needed
          ];

          displayedJobs.forEach(job => {
            const jobCard = document.createElement('div');
            jobCard.classList.add('col-md-4', 'mb-4');

            jobCard.innerHTML = `
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">${job.Title || 'Title not available'}</h5>
                  <p class="card-text"><strong>Company:</strong> ${job.Company || 'Not specified'}</p>
                  <p class="card-text"><strong>Location:</strong> ${job.Location || 'Not specified'}</p>
                  <p class="card-text"><strong>Job Type:</strong> ${job['Job Type'] || 'Not specified'}</p>
                  <p class="card-text"><strong>Date Posted:</strong> ${job['Posted On'] ? new Date(job['Posted On']).toLocaleDateString() : 'Date not available'}</p>
                  <p class="card-text"><strong>Days Left:</strong> ${job['Days Left'] !== 'Not specified' ? job['Days Left'] + ' day(s)' : 'N/A'}</p>
                </div>
              </div>
            `;

            container.appendChild(jobCard);
          });
        } catch (error) {
          console.error('Error fetching featured job data:', error);
          const errorMessage = document.createElement('p');
          errorMessage.textContent = 'Error loading job listings. Please try again later.';
          document.getElementById('featured-jobs').appendChild(errorMessage);
        }
      }

      fetchFeaturedJobs();
    })();
