extends ../partials/layout

block head
  - title = 'Interview with Norbert Hermann - Berlin Senate Department'
  - description = 'Insights into Berlin’s startup support initiatives with Norbert Hermann from the Senate Department for Economic Affairs, Energy and Public Enterprises.'
  - keywords = 'Norbert Hermann, Berlin Senate, startup support, economic affairs, energy, public enterprises, entrepreneurship, Berlin'
  - metaImageUrlHttps = 'Norbert-Hermann.jpg'


block body
  //- Speakers Content
  include jumbotron
