main
  .jumbotron.jumbotron-senate.pt-6.pt-md-10
    .container-fluid.mb-10
      .row.justify-content-center
        .col-9.px-0
          h1 Interview / Norbert Hermann - Berlin Senate Department for Economic Affairs, Energy and Public Enterprises
          |
          |
          br
          p In this interview, we speak with Norbert Hermann from the Berlin Senate Department for Economic Affairs, Energy and Public Enterprises. He gives insights to the department's initiatives and support systems for startups in Berlin, providing practical insights for entrepreneurs looking to navigate the city's business environment. His perspective is particularly valuable for members of our international community seeking to understand the role of public administration in fostering Berlin's startup ecosystem.
          br
          img(src='/assets/img/Norbert-Hermann.jpg' alt='Placeholder image').img-fluid
          br
          |
          br
          p Hi Norbert, nice to have you on the Startup Berlin Group! Can you start by introducing yourself and the institution you work for?
          p 
            strong 🐻 Q: Can you introduce yourself and the institution you work for?
            br
            | My team and I are responsible for all matters concerning startup affairs at the Berlin Senate Department for Economic Affairs, Energy and Public Enterprises. Our primary task is to listen to the startup ecosystem and translate the needs and challenges into the language of public administration – and vice versa. We aim to be the API between the startup ecosystem and public administration, advocating for startups within the ministry and bringing the administration’s views into the startup world.
          p
            strong About Myself:
            br
            | I studied Economics in Frankfurt/Main and have worked with various organizations including the Potsdam Institute for Climate Impact Research, eBay, and Technology Foundation Berlin. I spent two years in Johannesburg working with GIZ in development cooperation and have five years of experience at the Berlin Institute of Technology supporting startup teams. I've also been part of early-stage startup teams.
          p 
            strong 🐻 Q: Can you tell us about the responsibilities of the Department for Economic Affairs, Energy and Public Enterprises and its support for startups?
            br
            | The Berlin Senate Department for Economic Affairs is a supporter of startups and scaleups in Berlin. Our main task is to connect people and initiatives to strengthen the startup scene, support business ideas, and promote legislation. We're part of the Berlin Startup Unit, a group that acts as a door opener to public institutions for startups. The department also offers various funding programs and invests in infrastructure to support startups, like the Berlin Startup Scholarship, GründungsBonus, and GründerinnenBonus.
          p 
            strong 🐻 Q: What role has the Senate played in supporting the startup ecosystem in Berlin?
            br
            | The Senate's role involves listening, marketing, promoting, connecting, and providing structures and services.
            br
            |
            Selected tools the Berlin public administration can provide are:
            ul
              li
                a(href='https://www.berlin-partner.de/') the services of the Berlin Business Support Agency Berlin-Partner for Economy and Technology
              li
                a(href='https://www.berlin.de/einwanderung/service/business-immigration-service/') the Business Immigration Service
              li
                | the Investment Bank Berlin 
                a(href='https://www.ibb.de/en/business-development/phases-of-a-company/starting-up/starting-up.html') especially with its Ventures 
                a(href='https://www.ibbventures.de/en')
              li
                a(href='https://www.berlin.de/sen/web/en/business-support/start-up-funding/funding-and-financing/funding/artikel.819310.en.php') the Berlin Startup Scholarship
              li
                a(href='https://startup-map.berlin/intro?applyDefaultFilters=true') the startup-map.Berlin
              li
                a(href='https://www.berlin.de/sen/wirtschaft/gruenden-und-foerdern/aussenwirtschaftsfoerderung/netzwerkbildung/artikel.487815.php') the Program for Internationalisation
              li
                | and many more.
          p 
            strong 🐻 Q: For what kind of support can people reach out to your team?
            br
            | We assist very early stage startups and newcomers in finding contact points in the ecosystem and support later stage startups by connecting them to the right resources. We focus on issues regarding access to capital, talent, infrastructure, and global connectedness. We support various sectors and are open to enhancing cooperation within the Berlin Brandenburg Startup Ecosystem.
          p 
            strong 🐻 Q: What is your #1 advice for entrepreneurs wanting to start their own startup?
            br
            | Ensure you have a supportive network around you and continuously discuss your idea, product, next steps, and experiences.
