extends ../partials/layout
block head
  - title = 'Bulletin'
  - description = 'Connect to freenode IRC'
  - keywords = 'bulletin, medium, startup bulletin, startup news, startup community'
  - metaImageUrlHttps = 'og-image-bulletin.png'
block body
  
  //- Bulletin Content
  include jumbotron
