main
  .jumbotron.jumbotron-bulletin.pt-6.pt-md-10(style='min-height:60rem;')
    .container.text-center.text-white
      .row
        .col
          h1.display-5.mb-5 Startup Berlin IRC Channel 
          iframe.shadow.mb-10(src="http://webchat.freenode.net?channels=%23startupberlin&uio=d4" width="60%" height="100%" frameborder="0" marginheight="0" marginwidth="0")
