extends ../partials/layout
block head
  - title = 'jobs'
  - description = 'Find jobs in Berlin'
  - keywords = 'Startup jobs in Berlin'
  - metaImageUrlHttps = 'speakers-list.jpg'

block body
  //- Speakers Content
  include jumbotron
  //- Jobs Content
  include job-listings
