.container.mt-5
  #loading-spinner(style="display: none; text-align: center;")
    p.loading-message Loading job listings, please wait...
  #job-container
    script.
      async function fetchJobs() {
        const loadingSpinner = document.getElementById('loading-spinner');
        loadingSpinner.style.display = 'block'; // Show the loader

        try {
          const response = await fetch('/.netlify/functions/getJobListings');
          const jobs = await response.json();
          loadingSpinner.style.display = 'none'; // Hide the loader after fetching

          if (!Array.isArray(jobs)) {
            throw new Error('Unexpected response format: jobs is not an array');
          }

          const container = document.getElementById('job-container');
          const searchBar = document.getElementById('search-bar');
          const jobTypeTags = document.querySelectorAll('.job-type-tags .tag');

          // Function to display jobs and add JSON-LD schema
          function displayJobs(filteredJobs) {
            container.innerHTML = ''; // Clear current job listings

            if (filteredJobs.length === 0) {
              const noJobsMessage = document.createElement('p');
              noJobsMessage.textContent = 'No job listings available at the moment.';
              container.appendChild(noJobsMessage);
              return;
            }

            filteredJobs.forEach(job => {
              const jobCard = document.createElement('div');
              jobCard.classList.add('job-card', 'border', 'p-4', 'mb-4');

              const slackWorkspaceDomain = 'startupberlin';
              const channelId = 'C0FD5CYSD';

              // Ensure Message ID exists
              let slackLink = 'Link not available';
              if (job['Message ID']) {
                const messageId = job['Message ID'].replace('.', '');
                slackLink = `https://${slackWorkspaceDomain}.slack.com/archives/${channelId}/p${messageId}`;
              }

              let howToApply = job['How to Apply'] || `<a href="${slackLink}" target="_blank">View on Slack</a>`;

              // Ensure Qualifications is an array
              const qualificationsList = Array.isArray(job.Qualifications)
                ? job.Qualifications.map(qual => `<li>${qual}</li>`).join('')
                : '<li>Not Specified</li>';

              jobCard.innerHTML = `
                ${job.Title ? `<h2 class="job-title mb-2">${job.Title}</h2>` : ''}
                ${job.Company ? `<h3 class="job-company mb-1">Company: ${job.Company}</h3>` : ''}
                ${job.Location ? `<p class="job-location text-muted mb-2">Location: ${job.Location}</p>` : ''}
                ${job['Job Type'] ? `<p><strong>Job Type:</strong> ${job['Job Type']}</p>` : ''}
                ${job.Description ? `<p><strong>Description:</strong> ${job.Description}</p>` : ''}
                ${job.Pay ? `<p><strong>Pay:</strong> ${job.Pay}</p>` : ''}
                <p><strong>How to Apply:</strong> ${howToApply}</p>
                <ul><strong>Qualifications:</strong>
                  ${qualificationsList}
                </ul>
                ${job['Posted On'] ? `<p><strong>Date Posted:</strong> ${new Date(job['Posted On']).toLocaleDateString()}</p>` : ''}
                ${job['Days Left'] !== 'Not specified' ? `<p><strong>Days Left:</strong> ${job['Days Left']} day(s)</p>` : ''}
                <p><a href="${slackLink}" target="_blank">View Original Slack Message</a></p>
              `;

              // Add JSON-LD structured data
              const jsonLd = {
                "@context": "https://schema.org/",
                "@type": "JobPosting",
                "title": job.Title || 'Job Title',
                "hiringOrganization": {
                  "@type": "Organization",
                  "name": job.Company || 'Company Name'
                },
                "jobLocation": {
                  "@type": "Place",
                  "address": {
                    "@type": "PostalAddress",
                    "addressLocality": job.Location || 'Location'
                  }
                },
                "description": job.Description || 'Job Description',
                "datePosted": job['Posted On'] ? new Date(job['Posted On']).toISOString() : new Date().toISOString(),
                "employmentType": job['Job Type'] || 'Full-time',
                "baseSalary": job.Pay || 'Not specified',
                "qualifications": Array.isArray(job.Qualifications) ? job.Qualifications.join(', ') : 'Not specified',
                "applicationContact": {
                  "@type": "ContactPoint",
                  "url": slackLink
                }
              };

              const jsonLdScript = document.createElement('script');
              jsonLdScript.type = 'application/ld+json';
              jsonLdScript.textContent = JSON.stringify(jsonLd);
              jobCard.appendChild(jsonLdScript);

              container.appendChild(jobCard);
            });
          }

          // Display initial jobs
          displayJobs(jobs);

            // Add search functionality
            searchBar.addEventListener('input', () => {
            const query = searchBar.value.toLowerCase();
            const filteredJobs = jobs.filter(job => {
              const title = typeof job.Title === 'string' ? job.Title.toLowerCase() : '';
              const company = typeof job.Company === 'string' ? job.Company.toLowerCase() : '';
              const description = typeof job.Description === 'string' ? job.Description.toLowerCase() : '';
              return title.includes(query) || company.includes(query) || description.includes(query);
            });
            displayJobs(filteredJobs);
            });

            // Add click event for job type tags
            jobTypeTags.forEach(tag => {
            tag.addEventListener('click', () => {
              tag.classList.toggle('active');
              const activeTags = Array.from(jobTypeTags)
              .filter(tag => tag.classList.contains('active'))
              .map(tag => tag.getAttribute('data-type').toLowerCase());

              const filteredJobs = activeTags.length > 0
              ? jobs.filter(job => activeTags.some(type => job['Job Type'] && job['Job Type'].toLowerCase().includes(type)))
              : jobs;

              displayJobs(filteredJobs);
            });
            });

        } catch (error) {
          console.error('Error fetching job data:', error);
          const errorMessage = document.createElement('p');
          errorMessage.textContent = 'Error loading job listings. Please try again later.';
          document.getElementById('job-container').appendChild(errorMessage);
        }
      }

      fetchJobs();
