main
  .jumbotron.jumbotron-bulletin.pt-6.pt-md-10
    .container.text-center.text-white
      .row
        .col
          h1.display-5.mb-5 Startup Berlin #Jobs
          h2.lead.mb-5 List of job openings in Berlin, posted on our #jobs channel on Slack.
      .search-container.d-flex.flex-wrap.justify-content-between.align-items-center.mb-4
        input#search-bar.form-control(type="text" placeholder="Search jobs...")

        //- Add job type tags for filtering
        .job-type-tags.d-flex.flex-wrap.gap-2.mt-3
          button.tag.btn.btn-outline-primary(data-type="Full-time") Full-time
          button.tag.btn.btn-outline-secondary(data-type="Part-time") Part-time
          button.tag.btn.btn-outline-success(data-type="Contract") Contract
          button.tag.btn.btn-outline-info(data-type="Remote") Remote
      .row
        .p For assistance message 
          a(href="https://slack.com/app_redirect?channel=U09Q0CPMZ" target="_blank" class="text-white")
            strong @idmtr on Slack.