extends ../partials/layout
block head
  - title = 'Bulletin'
  - description = 'Add your submission for the monthly startup berlin bulletin'
  - keywords = 'bulletin, medium, startup bulletin, startup news, startup community'
  - metaImageUrlHttps = 'og-image-bulletin.png'
block body
  //- Bulletin Content
  include jumbotron
