main
  .jumbotron.jumbotron-bulletin.pt-6.pt-md-10
    .container.text-center.text-white
      .row
        .col
          h1.display-5.mb-5 Startup Berlin Bulletin Submission
          iframe.mb-10(src="https://docs.google.com/forms/d/1lK_fkNxqS-hIJJQiOK56ldpKyzM8aizhuoBYU_8Kvoo/viewform?embedded=true" width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" style='min-height:80rem;')
